INSTAGRAM_MODE=mock
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_USER_ID=
INSTAGRAM_USERNAME=cardcaller_magic
INSTAGRAM_PROFILE_URL=https://www.instagram.com/cardcaller_magic/
META_GRAPH_VERSION=v23.0
APP_SECRET=
DATABASE_PATH=data/cardcaller.db
MEDIA_DIR=media
PUBLIC_MEDIA_BASE_URL=http://localhost:8000/media
S3_BUCKET=
S3_REGION=
S3_ENDPOINT_URL=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
PUBLISH_POLL_SECONDS=1
PUBLISH_POLL_ATTEMPTS=20
